a {
    text-decoration: none !important;
}

/* Estilos CSS para la página */
.page-content {
    transition: margin-left 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Yeseva One", serif;
}

.page-content.shifted {
    margin-left: 250px;
}

/* Estilos CSS para las tarjetas */
.tile-container {
    width: 90%; /* Aumentar el ancho del contenedor de tarjetas */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 20px;
}

.choose-option {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px; 
    position: relative; 
}

.choose-option h2 {
    display: inline-block; 
    position: relative; 
}

.choose-option h2:before,
.choose-option h2:after {
    content: ""; /* Agrega contenido vacío */
    position: absolute; /* Hace que los pseudo-elementos sean absolutos para poder posicionarlos correctamente */
    top: 50%; /* Posiciona los pseudo-elementos en el centro verticalmente */
    width: 200px; /* Mantiene el tamaño de las líneas */
    height: 1px; /* Ajusta el grosor de las líneas según sea necesario */
    background-color: #0053A9; /* Cambia el color de las líneas según tus preferencias */
    transition: transform 0.3s ease; /* Agrega transición para un movimiento suave */
}

.choose-option h2:before {
    left: -210px; /* Posiciona la línea izquierda al inicio del título */
}

.choose-option h2:after {
    right: -210px; /* Posiciona la línea derecha al final del título */
}

/* Media query para ajustar el diseño cuando la pantalla es más pequeña */
@media (max-width: 768px) {
    
    .choose-option h2:before{
        width: 40px; /* Ancho proporcional al tamaño de la pantalla */
    }

    .choose-option h2:after {
        width: 40px; /* Ancho proporcional al tamaño de la pantalla */
    }

    .choose-option h2:before {
        left: -50px; /* Posiciona la línea izquierda al inicio del título */
    }

    .choose-option h2:after {
        right: -50px; /* Posiciona la línea derecha al final del título */
    }
}

.card {
    width: 800px; /* Aumentar el ancho de la tarjeta */
    height: 200px; /* Altura de la tarjeta */
    background-color: #fff; 
    border-radius: 20px;
    margin: 30px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
    display: flex;
}

.card:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.9);
    filter: brightness(80%); /* Aplicar un filtro de opacidad cuando el cursor está encima */
}

.card-content {
    display: flex; /* Utilizar flexbox para alinear los elementos */
    width: 100%;
    height: 100%;
}

.content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; /* Ancho de la imagen */
}

.card-image {
    width: 80px; /* Ajustar el ancho de la imagen */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px 0 0 15px; /* Ajustar bordes */
    object-fit: cover; /* Ajustar tamaño de imagen */
}

.card-details {
    width: 70%; /* Ancho del contenido de la tarjeta */
    display: flex; /* Utilizar flexbox para alinear los elementos */
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    padding-left: 10px; /* Añadir un poco de espacio a la izquierda */
}

.card-description {
    font-size: 14px;
    color: #313131; /* Color del texto de la descripción */
    margin-top: 2px; /* Espaciado superior */
    margin-right: 20px;
}

.registradas {
    font-size: 14px;
    color: #666; /* Color del texto de la descripción */
    text-align: center; /* Ajustar para centrar verticalmente */
}

.card-title {
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000; /* Color del texto en la superposición */
    border-bottom: 1px solid #000; /* Línea de color negro debajo del título */
    padding-bottom: 2px; /* Espacio entre el título y la línea */
}

 /* Establecer el tamaño del carrusel para ocupar toda la pantalla */
 #myCarousel {
    width: 100%;
    height: 50vh; /* Altura completa de la ventana */
}

/* Ajustar el tamaño de las imágenes para que ocupen todo el carrusel */
#myCarousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen se ajuste dentro del espacio sin deformarse */
}

/* Estilos para la navegación lateral */
.navLateral-abierta #myCarousel {
    width: calc(100% - 250px); /* Restar el ancho de la navegación lateral */
}

/* Media query para ajustar el tamaño del carrusel cuando la navegación lateral está abierta */
@media (max-width: 768px) {
    .navLateral-abierta #myCarousel {
        width: 100%; /* Cambiar el ancho a 100% cuando la pantalla es estrecha */
    }
}


/* Estilos CSS para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .page-content {
        margin-left: 0;
    }

    .page-content.shifted {
        margin-left: 150px;
    }

    .container-fluid.shifted {
        margin-left: 150px;
    }

    /* Estilos para la navegación lateral */
    .navLateral-abierta #myCarousel {
        width: calc(100% - 150px); /* Restar el ancho de la navegación lateral */
    }

    .tile-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: contents;
        width: 90%; /* Reducir el ancho del contenedor de tarjetas para pantallas más pequeñas */
    }

    .card {
        width: 100%; /* Hacer que las tarjetas ocupen todo el ancho disponible */
        max-width: none; /* Quitar el ancho máximo para que las tarjetas se expandan según el ancho de la pantalla */
        margin: 30px 0; /* Espaciar las tarjetas verticalmente */
    }
}
