.card {
    width: 500px; /* Ancho de la tarjeta */
    height: 200px; /* Altura de la tarjeta */
    background-color: #f3e8e8; 
    border-radius: 10px;
    margin: 30px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
    display: flex;
}

.card:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.9);
    filter: brightness(80%); /* Aplicar un filtro de opacidad cuando el cursor está encima */
}

.card-content {
    display: flex; /* Utilizar flexbox para alinear los elementos */
    width: 100%;
    height: 100%;
}

.content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; /* Ancho de la imagen */
}

.card-image {
    width: 100px; /* Ajustar el ancho de la imagen */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px 0 0 15px; /* Ajustar bordes */
    object-fit: cover; /* Ajustar tamaño de imagen */
}

.card-details {
    width: 70%; /* Ancho del contenido de la tarjeta */
    display: flex; /* Utilizar flexbox para alinear los elementos */
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    padding-left: 10px; /* Añadir un poco de espacio a la izquierda */
}

.card-description {
    font-size: 14px;
    color: #313131; /* Color del texto de la descripción */
    margin-top: 2px; /* Espaciado superior */
    margin-right: 20px;
}

.registradas {
    font-size: 14px;
    color: #666; /* Color del texto de la descripción */
    text-align: center; /* Ajustar para centrar verticalmente */
}

.card-title {
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0056b3; /* Color del texto en la superposición */
    border-bottom: 1px solid #000; /* Línea de color negro debajo del título */
    padding-bottom: 2px; /* Espacio entre el título y la línea */
}

/* Estilos CSS para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .card {
        width: 90%; /* Hacer que las tarjetas ocupen todo el ancho disponible */
        max-width: none; /* Quitar el ancho máximo para que las tarjetas se expandan según el ancho de la pantalla */
        margin: 30px 0; /* Espaciar las tarjetas verticalmente */
        height: 230px;
    }

    .card-image {
        width: 80px; /* Ajustar el ancho de la imagen */
        height: auto; /* Mantener la relación de aspecto */
        border-radius: 15px 0 0 15px; /* Ajustar bordes */
        object-fit: cover; /* Ajustar tamaño de imagen */
    }
}