body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140vh; /* Cambia la altura del contenedor principal */
  background: #ffffff;
}
  
  /* Estilos para el formulario dentro del contenedor */
  .form-container {
    background-color: #d1f8e7  ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 490px;
  }
  
  /* Estilos para la imagen dentro del formulario */
  .form-container img {
    display: block;
    margin: 0 auto 20px;
    align-items: center;
  }
  
  /* Estilos para los campos de texto dentro del formulario */
  .form-container input[type="text"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #edfaf4;
  }
  
/* Estilos para el botón de registro */
.form-container button {
  border-radius: 20px;
  border: 1px solid #0f61a8;
  background: #0f61a8;
  color: #fff;
  font-size: 12px; /* Ajuste de tamaño de fuente */
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px; /* Ajuste del margen inferior */
  display: block; /* Convertir el botón en un bloque para centrarlo horizontalmente */
  margin: 15 auto; /* Centrar horizontalmente */
  width: 180px;
  height: 35px;
}

/* Estilos para el botón de iniciar sesión */
.form-container #registrarse {
  background: #3FC56A;
  border-color: #3FC56A;
 /* Ajuste del tamaño del botón */
  display: block; /* Convertir el botón en un bloque para centrarlo horizontalmente */
  margin: 20 auto; /* Centrar horizontalmente */
  width: 180px;
  height: 35px;
}


  .form-container #yaCuenta {
    text-align: center;
  }
  
  
  /* Estilos para centrar verticalmente la imagen */
  .imagen-verticalmente-centrada {
    display: block;
    margin: 0 auto 20px;
    width: 320px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantener la relación de aspecto */
  }

  .form-container p {
    text-align: left;
    margin-bottom: 8px; /* Ajusta el margen inferior según sea necesario */
    font-weight: bold;
    color: #0056b3;
  }