.gestionarCliente {
    padding-top: 50px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(125, 212, 173, 0.096);
}

.table-striped tbody tr.deshabilitado {
    background-color: #ffcbcb6e; /* Cambia el color de fondo */
    color: #b40300; /* Cambia el color del texto */
    /* Otros estilos de diseño según tus preferencias */
}

/* Estilos para el filtro */
.filter-container {
    margin-bottom: 15px;
}


.filter-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para la paginación */
.pagination {
    margin-top: 15px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
}

.pagination a.active {
    background-color: #2DAF76;
    color: #fff;
}

.pagination a.active:hover {
    background-color: #006439;
    color: #fff;
}

.pagination a:hover {
    background-color: #0053A9;
    color: #fff;
}

.formularioAjax {
    margin: 30px auto;
    width: 100%;
    max-width: 600px;
    background-color: rgba(125, 212, 173, 0.096);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.añadir_producto-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alinear elementos hacia los extremos */
}

.form-group {
    width: calc(50% - 10px); /* Establecer el ancho específico para cada columna */
    margin-bottom: 15px;
    box-sizing: border-box;
}

.boton {
    display: flex;
    justify-content: center;
}

.titulos_form {
    margin: 0;
    color: #333;
    text-align: left !important;
}

.producto_id,
.producto_nombre,
.producto_descripcion,
.producto_cantidad,
.producto_alquiler,
.selectform {
    width: calc(100% - 12px); /* Ajustar el ancho para tomar en cuenta el borde */
    padding: 8px; /* Incrementar el relleno */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.detallesU {
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    background-color: rgba(125, 212, 173, 0.096);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Imagen {
    justify-content: center;
    padding: 500px;
}

.botones {
    width: calc(100% - 12px);
    text-align: center; /* Alinear los botones a la derecha */
}

.custom-file-input {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; /* Ajusta el margen inferior según tus necesidades */
}

.custom-file-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px; /* Ajusta el tamaño de la fuente según tus necesidades */
    cursor: pointer;
    opacity: 0;
}

.custom-file-input label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-radius: 5px;
    cursor: pointer;
}

.estado-volver {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0053A9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.estado-enviar {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2DAF76;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.estado-cancelar {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DC0000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.estado-enviar:hover{
    background-color: #00864c;
}

.estado-cancelar:hover {
    background-color: #a50101;
}

.btn-primary{
    background-color: #0053A9 !important; 
}

.btn-primary:hover{
    background-color: #003064 !important; 
}

.btn-editar,
.btn-detalles {
    border: none; /* Eliminar bordes */
    background: none; /* Eliminar fondo */
    padding: 0; /* Eliminar espaciado interno */
    cursor: pointer;
}

.btn-editar img,
.btn-detalles img {
    width: 20px; /* Ancho de la imagen */
    height: 20px; /* Altura de la imagen */
    border: none !important; /* Asegurar que no haya bordes en la imagen */
}

.table {
    width: 100%;
    max-width: 1200px; /* Ancho máximo para la tabla */
    border-collapse: collapse; /* Para fusionar los bordes de las celdas */
}

.table th,
.table td {
    padding: 12px; /* Aumentar el espacio interno de las celdas */
    text-align: center; /* Alinear horizontalmente el contenido */
    vertical-align: middle; /* Alinear verticalmente el contenido */
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 200px; /* Ancho de la columna "Descipcion" */
}

.table th.editar,
.table td.editar {
    width: 150px; /* Ancho fijo para la columna "Opciones" */
    border: none !important;
}


/* Media queries para ajustar estilos en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .form-group {
        width: calc(100% - 12px); /* En pantallas pequeñas, ocupar todo el ancho disponible */
    }
    .añadir_producto-form {
        display: block;
    }
    
    .formularioAjax {
        width: 90%; /* Ajustar el ancho en dispositivos pequeños */
        max-width: none; /* Anular el ancho máximo en dispositivos pequeños */
    }
}

/* Estilos para hacer que la tabla sea responsive */
.table-responsive {
    overflow-x: scroll;
    width: auto;
    margin-left: 5px; /* Ajustar margen izquierdo */
    margin-right: 10px; /* Ajustar margen derecho */
}

/* Ajustar el tamaño de las columnas en dispositivos pequeños */
@media screen and (max-width: 853px) {
    .table-responsive {
        margin-right: 0;
        overflow-x: scroll; /* Permitir desplazamiento horizontal */
    }

    .table {
        width: 400px;
    }

    .filter-container {
        margin-top: 0px;
        width: 200px;
        margin-left: 10px;
    }

    .btn-primary {
        margin-top: 10px;
    }

}

/* Ajustar el tamaño de las columnas en dispositivos pequeños */
@media screen and (max-width: 853px) {

    *,
    *::before,
    *::after {
    box-sizing: content-box; 
    }

    table th, .table td {
        padding: 12px;
        text-align: left; 
        vertical-align: middle;
    }

    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive tr,
    .table-responsive th,
    .table-responsive td {
        display: block;
    }

    .table {
        text-align: left !important;
    }
    
    .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive tr {
        margin-bottom: 20px;
        border: 1px solid #ccc;
    }

    .table-responsive td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
        max-width: 200px; /* Definir un ancho máximo para las celdas */
        overflow: hidden; /* Ocultar el contenido que se desborde */
        text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) para indicar que hay más contenido oculto */
    }

    .table-responsive td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table-responsive td:nth-of-type(1):before { content: "Id:"; }
    .table-responsive td:nth-of-type(2):before { content: "Nombre:"; }
    .table-responsive td:nth-of-type(3):before { content: "Descripción:"; }
    .table-responsive td:nth-of-type(4):before { content: "Categoría:"; }
    .table-responsive td:nth-of-type(5):before { content: "Cantidad:"; }
    .table-responsive td:nth-of-type(6):before { content: "Alquiler:"; }
    .table-responsive td:nth-of-type(7):before { content: "Estado:"; }
    .table-responsive td:nth-of-type(8):before { content: "Imagen:"; }
    .table-responsive td:nth-of-type(9):before { content: "Opciones:"; }
}




