/* Estilos para la sección de detalles del producto */
.detallesProductos {
    padding: 20px;
}
.container-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    padding-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info h2 {
    font-size: 24px;
    margin-top: 0;
}

.product-info .descripcion {
    font-size: 18px;
}

/* Estilos generales de la sección de productos destacados */
.productos-destacados {
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    text-align: center; /* Centra los elementos dentro de la sección */
}

/* Contenedor de las tarjetas de productos */
.container-destacados {
    position: relative;
    margin-top: 20px; /* Espacio entre el título y los botones de navegación */
    overflow: hidden; /* Oculta el desbordamiento de los elementos fuera del contenedor */
}

/* Estilos del contenedor que alberga las tarjetas de productos */
.productos-container {
    display: flex; /* Establece un contenedor de productos como un flexbox */
    overflow-x: hidden; /* Permite el desplazamiento horizontal */
    scroll-behavior: smooth; /* Suaviza el desplazamiento */
    padding: 10px 0; /* Agrega espacio interno para evitar que los productos estén demasiado cerca de los bordes del contenedor */
}

/* Estilos de los botones de navegación del slider */
.productos-destacados .btn-prev,
.productos-destacados .btn-next {
    position: absolute;
    top: 50%; /* Centra verticalmente los botones */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    background-color: #00a783b0; /* Fondo semitransparente */
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1; /* Asegura que los botones estén por encima de los productos */
}

/* Estilos del botón de navegación "prev" */
.productos-destacados .btn-prev {
    left: 10px; /* Alinea el botón hacia la izquierda */
}

/* Estilos del botón de navegación "next" */
.productos-destacados .btn-next {
    right: 10px; /* Alinea el botón hacia la derecha */
}

/* Estilos de las tarjetas de productos */
.tarjeta {
    flex: 0 0 auto; /* Hace que las tarjetas tengan un ancho flexible pero no puedan encogerse ni crecer */
    margin-right: 10px; /* Espacio entre las tarjetas */
    background-color: #ffffff; /* Color de fondo de las tarjetas */
    width: 200px; /* Ancho de cada tarjeta */
    height: 250px; /* Altura de cada tarjeta */
    border: 1px solid #ccc; /* Borde de las tarjetas */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de las tarjetas */
}

/* Estilos de la imagen dentro de la tarjeta */
.tarjeta .imagen {
    width: 100%;
    height: 150px; /* Altura de la imagen */
    overflow: hidden;
    border-top-left-radius: 5px; /* Bordes redondeados solo en la esquina superior izquierda */
    border-top-right-radius: 5px; /* Bordes redondeados solo en la esquina superior derecha */
}

/* Estilos de la imagen dentro de la tarjeta */
.tarjeta .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
}

/* Estilos del contenido dentro de la tarjeta */
.tarjeta .contenido {
    padding: 10px;
}

/* Estilos del título dentro de la tarjeta */
.tarjeta h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Estilos del botón dentro de la tarjeta */
.tarjeta button {
    background-color: #00a783;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: auto; /* Mueve el botón al final de la tarjeta */
}

/* Estilos del botón al pasar el mouse sobre él dentro de la tarjeta */
.tarjeta button:hover {
    background-color: rgb(0, 71, 148);
}

/* Estilos de la tarjeta al pasar el mouse sobre ella */
.tarjeta:hover {
    transform: translateY(-5px); /* Desplaza ligeramente hacia arriba al pasar el mouse */
}


