/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Banner Principal */
.banner {
    position: relative; /* Agrega posición relativa para los elementos absolutos */
    background-image: url('../../img/img1.jpg');
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 80px 0;
    display: flex;
    align-items: flex-end; /* Alinea los elementos en la parte inferior */
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
}

.banner-content {
    position: relative; /* Ajusta la posición del contenido */
    z-index: 1; /* Asegura que el contenido esté sobre la superposición */
    max-width: 800px;
    margin: 0 auto;
}

#inicioSesion{
    margin-left: 20px;
}

#botonProductos{
    margin-right: 20px;
}


.right-itemshea {
    
    display: flex;
    position: relative; 
    z-index: 1; 
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta {
    background-color: #0053A2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.cta:hover {
    background-color: #01294e;
    color: #fff;
}

/* Sección de Productos */
.productos {
    padding: 50px 0;
    background-color: #f2f2f2;
}

/* Estilos del contenedor de productos */
.productos .container {
    display: flex;
    overflow-x: hidden; /* Permitir el desplazamiento horizontal */
    gap: 20px;
    padding-bottom: 20px; /* Agregar un espacio en la parte inferior para los botones de navegación */
}

/* Estilos de la tarjeta de producto */
.tarjeta {
    flex: 0 0 auto; /* Evitar que las tarjetas se ajusten automáticamente */
    width: 374px; /* Establecer un ancho fijo para las tarjetas */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.buttons-container {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 15px;
}

.prev, .next {
    cursor: pointer;
    background-color: #0053A2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}

.prev:hover, .next:hover {
    cursor: pointer;
    background-color: #01294e;
    color: #fff;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.tarjeta .imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tarjeta .contenido {
    padding: 20px;
    text-align: center;
}

.tarjeta h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.tarjeta p {
    font-size: 14px;
    margin-bottom: 10px;
}

.tarjeta button {
    background-color: #0053A2;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tarjeta button:hover {
    background-color: #01294e;
}


.servicios {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.container-servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicios-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.servicios-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios-images img {
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
}

.right-container{
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-bottom: 10%;
    margin-left: -50px;
    border-radius: 20px;
    /*background-color: black; /* Color de fondo del recuadro grande */
}

.gallery img {
    width: 100%;
    max-width: 100px;
    margin: 5px;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilos generales de la sección de categorías */
.categorias {
    padding: 50px 0;
    background-color: #ffffff; /* Color de fondo */
    text-align: center;
    align-items: center;
}

#smal1{
    margin-right: 50px;
    width: 250px;
}

#imagen1{
    margin-top: 5px;
    margin-left: 0px;
    height: 210px;
    width: 200px;
}

#box1{
    margin-left: 0px;
    width: 320px;
    height: 240px;
}

#imagen2{
    margin-top: 5px;
    margin-left: 0px;
    height: 210px;
    width: 200px;
}

#box2{
    margin-left: 80px;
    width: 320px;
    height: 240px;
}


#smal2{
    width: 250px;
    margin-top: 30px;
}

#imagen3{
    margin-top: 5px;
    margin-left: 0px;
    height: 210px;
    width: 200px;
}

#box3{
    margin-left: 0px;
    width: 320px;
    height: 240px;
}

#imagen4{
    margin-top: 5px;
    margin-left: 0px;
    height: 210px;
    width: 200px;
}

#box4{
    margin-left: 80px;
    width: 320px;
    height: 240px;
}

#Diana{
    width: 190px;
    height: 210px;
}

.img-foto{
    width: 210px;
    height: 200px;
    margin-bottom: 5%;
    border-radius: 100%;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/* Contenedor de las categorías */
.container-categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las categorías */
}

/* Estilos para cada categoría */
.categoria {
    background-color: #0054a20e; /* Color de fondo */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 30px;
    max-width: 300px; /* Ancho máximo de la categoría */
    width: 100%; /* Se expande para ocupar todo el ancho disponible */
    transition: transform 0.3s ease; /* Efecto de transición suave */
}

/* Estilos al pasar el cursor sobre cada categoría */
.categoria:hover {
    transform: translateY(-5px); /* Efecto de levantamiento */
}

.small-boxes {
    /*float: right;*/
    display: flex;
    width: 130%;
    height: 50%;
    flex-direction: row; /* Envuelve los recuadros pequeños cuando no caben en una línea */
    margin-left: 10px;
}

.box-arriba , .box-abajo{
    display: flex;
    width: calc(50% - 10px); /* Ancho del 50% menos los márgenes */
    height: 150px; /* Altura de los recuadros pequeños */
    background-color: #fff; /* Color de fondo de los recuadros pequeños */
    padding: 10px; /* Espaciado interno de los recuadros pequeños */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 20px;
}

/* Estilos para la descripción de las categorías */
.categoria p {
    font-size: 16px;
    color: #666; /* Color del texto */
    margin-bottom: 20px;
}

/* Estilos para el enlace "Ver productos" */
.categoria a {
    display: inline-block;
    background-color: #0053A2; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Efecto de transición suave */
}

/* Estilos al pasar el cursor sobre el enlace */
.categoria a:hover {
    background-color: #01294e; /* Color de fondo al pasar el cursor */
}

.box-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

}

#agendaAbajo{
    width: 35%;
}

/* Estilos para la imagen de cada categoría */
.categoria img {
    max-width: 100%;
    border-radius: 10px; /* Ajuste los bordes si es necesario */
    margin-bottom: 10px;
}


/* Estilos generales de la sección de contacto */
.contacto {
    padding: 50px 0;
    background-color: #f9f9f9; /* Color de fondo */
    text-align: center;
}

/* Contenedor de la sección de contacto */
.container-contacto {
    max-width: 600px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 30px; /* Añade espacio interno al contenedor */
    background-color: #fff; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
/* Estilos para el título "Contacto" */
.container-contacto h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estilos para el texto descriptivo */
.container-contacto p {
    font-size: 16px;
    color: #666; /* Color del texto */
    margin-bottom: 30px;
}

/* Estilos para el formulario de contacto */
.container-contacto form input[type="text"],
.container-contacto form input[type="email"],
.container-contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container-contacto form textarea {
    height: 150px; /* Altura del área de texto */
}

.container-contacto form button {
    background-color: #0053A2; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición suave */
}

.container-contacto form button:hover {
    background-color: #01294e; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para la información de contacto */
.informacion-contacto {
    margin: 15px;
    text-align: center; /* Alinea el texto a la izquierda */
}

.informacion-contacto p {
    margin-bottom: 10px;
}



@media screen and (max-width: 768px) {

    #botonProductos,
    #botonCitaH,
    #botonContactanos{

        font-size: 14px;
        height: 22px;
        margin-right: 0px;
        margin-top: 5px;
    }

    #inicioSesion{
        margin-top: 5px;
    }
    
    .right-itemshea{
        flex-direction: column;
        align-items: center;
    }


}