/* Estilos generales para el footer */
.footer-info {
    color: #000; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    text-align: center;
    font-family: Arial, sans-serif; /* Familia de fuentes */
}

/* Estilos para el contenedor del footer */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el footer horizontalmente */
}

/* Estilos para el contenido del footer */
.footer-content {
    display: flex;
    align-items: center;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social a {
    color: #000; /* Color de los enlaces */
    text-decoration: none;
    font-size: 20px; /* Tamaño de los íconos */
    transition: color 0.3s; /* Efecto de transición al pasar el cursor */
}

.footer-social a:hover {
    color: #01294e; /* Cambia el color al pasar el cursor */
}

.footer-logo img {
    width: 100px; /* Tamaño del logo */
}

/* Asegura que el footer permanezca en la parte inferior */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo del cuerpo para ocupar toda la pantalla */
}

footer {
    margin-top: auto; /* Coloca el footer al final del cuerpo */
}


#scrollBtn {
    display: none; /* Ocultar el botón por defecto */
    position: fixed; /* Fijar el botón en la ventana del navegador */
    bottom: 20px; /* Distancia desde la parte inferior de la ventana */
    right: 20px; /* Distancia desde el lado derecho de la ventana */
    z-index: 99; /* Asegurar que el botón esté por encima de otros elementos */
    border: none; /* Quitar el borde */
    background-color: #00a783; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    padding: 5px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    transition: background-color 0.3s; /* Efecto de transición al cambiar el color de fondo */
}

#scrollBtn:hover {
    background-color: #007148; /* Cambiar el color de fondo al pasar el cursor sobre el botón */
}
