/* Estilos generales para el footer */
.footer-info {
    color: #000; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    text-align: center;
    font-family: Arial, sans-serif; /* Familia de fuentes */
}

/* Estilos para el contenedor del footer */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el footer horizontalmente */
}

/* Estilos para el contenido del footer */
.footer-content {
    display: flex;
    align-items: center;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social a {
    color: #000; /* Color de los enlaces */
    text-decoration: none;
    font-size: 20px; /* Tamaño de los íconos */
    transition: color 0.3s; /* Efecto de transición al pasar el cursor */
}

.footer-social a:hover {
    color: #01294e; /* Cambia el color al pasar el cursor */
}

.footer-logo img {
    width: 100px; /* Tamaño del logo */
}


