* {
    margin: 0;
    padding: 0;
}

.full-box.navbar-info {
    background-color: rgb(125, 212, 173, 26%);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
}

.left-items {
    display: flex;
}

#volver{
    margin-left: 12px;
}

#adelantar{
    margin-left: 8px;
}

.right-items {
    display: flex;
    position: relative; 
    z-index: 1; 
}

.full-box.navbar-info a {
    color: #0055A7;
    text-decoration: none;
    margin-left: 3px;
    font-size: 20px;
}

.navbar-info.shifted {
    margin-left: 250px;
}

@media screen and (max-width: 768px) {
    .right-items {
        justify-content: flex-end; 
        flex-grow: 1; 
        margin-right: 2px;
    }

    .full-box.navbar-info a {
        margin-left: 2px; 
        font-size: 16px; 
    }

    .navbar-info.shifted {
        margin-left: 150px; 
    }
}
