/* Estilos para el nav lateral */
.navLateral {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 250px;
    background-color: rgba(125, 212, 173, 0.26);
    /* Color de fondo con transparencia */
    color: #000;
    /* Texto en color negro */
    transition: left 0.3s ease;
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
}

.navLateral.active {
    left: 0;
}

.navLateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navLateral>ul>li>a {
    color: #000;
    /* Color de texto en negro */
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px 15px;
    /* Ajuste del espaciado */
    font-size: 18px;
    /* Tamaño de fuente */
}

.navLateral .submenu li a {
    color: #000;
    /* Color de texto en negro */
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    /* Ajuste del espaciado */
    text-align: left;
    font-size: 16px;
}

.navLateral .submenu {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(125, 212, 173, 0.774);
    /* Color de fondo con transparencia */
    width: 220px;
    /* Ancho del submenú */
    overflow-y: auto;
    /* Añade desplazamiento vertical */
    max-height: calc(100vh - 80px);
    /* Altura máxima para evitar que se desborde */
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

/* Personaliza el aspecto de la barra de desplazamiento */
.navLateral .submenu::-webkit-scrollbar {
    width: 8px;
}

.navLateral .submenu::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Color del scrollbar */
    border-radius: 10px;
}

.navLateral .submenu::-webkit-scrollbar-track {
    background-color: transparent;
}

.navLateral ul li:hover .submenu {
    display: block;
}

.navLateral ul li {
    position: relative;
}

.navLateral ul li .submenu {
    left: 100%;
}

.navLateral .submenu li {
    border-bottom: 1px solid rgba(125, 212, 173, 0.26);
    /* Borde inferior con transparencia */
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(125, 212, 173, 0.26);
    /* Color de fondo con transparencia */
}

.navLateral .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    /* Espaciado inferior */
}

.profile span {
    font-size: 20px;
    /* Tamaño de fuente */
    font-weight: bold;
    margin-bottom: 10px;
    /* Espaciado inferior */
}

.divider {
    height: 3px;
    background-color: #000;
    /* Color de la línea divisoria en negro */
    margin-bottom: 20px;
}

.navLateral .menu-image,
.navLateral .submenu-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .navLateral {
        width: 150px;
        /* Ancho reducido para dispositivos móviles */
        z-index: 100;
        /* Ajuste del z-index */
    }

    .navLateral .submenu {
        width: 150px;
        /* Ancho del submenú */
    }

    .navLateral.active+.page-content {
        margin-left: 500px;
        /* Ajuste del margen izquierdo del contenido */
    }

    .navLateral.active+.page-content.shifted {
        margin-left: 0;
        /* Ajuste del margen izquierdo */
    }

    .page-content {
        transition: margin-left 0.1s ease;
        display: block !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 250;
        font-family: "Yeseva One", serif;
    }


}