.gestionarCliente {
    padding-top: 50px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(125, 212, 173, 0.096);
}

/* Estilos para el filtro */
.filter-container {
    margin-bottom: 15px;
}

.filter-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para la paginación */
.pagination {
    margin-top: 15px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
}

.pagination a.active {
    background-color: #2DAF76;
    color: #fff;
}

.pagination a.active:hover {
    background-color: #006439;
    color: #fff;
}

.pagination a:hover {
    background-color: #0053A9;
    color: #fff;
}

.formularioAjax {
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    background-color: rgba(125, 212, 173, 0.096);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detallesU {
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    background-color: rgba(125, 212, 173, 0.096);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.añadir_cleinte-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.titulos_form {
    margin: 0;
    color: #333;
}

.login_nombreUsuario, .login_password, .selectform {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.botones {
    grid-column: span 2;
    text-align: center;
}

.detallesUs {
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto puede variar según tu diseño */
}

.estado-volver {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0053A9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.estado-enviar {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2DAF76;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.estado-cancelar {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DC0000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.estado-enviar:hover{
    background-color: #00864c;
}

.estado-cancelar:hover {
    background-color: #a50101;
}

.btn-primary{
    background-color: #0053A9 !important; 
}

.btn-primary:hover{
    background-color: #003064 !important; 
}

.btn-editar,
.btn-detalles {
    border: none; /* Eliminar bordes */
    background: none; /* Eliminar fondo */
    padding: 0; /* Eliminar espaciado interno */
    cursor: pointer;
}

.btn-estado-usuario {
    border: none; /* Eliminar bordes */
    background: none; /* Eliminar fondo */
    padding: 0; /* Eliminar espaciado interno */
    cursor: none;
}

.btn-editar img,
.btn-detalles img,
.btn-estado-usuario img {
    width: 20px; /* Ancho de la imagen */
    height: 20px; /* Altura de la imagen */
    border: none !important; /* Asegurar que no haya bordes en la imagen */
}

.table {
    width: 100%;
    max-width: 1200px; /* Ancho máximo para la tabla */
    border-collapse: collapse; /* Para fusionar los bordes de las celdas */
}

.table th,
.table td {
    padding: 8px; /* Añadir un espaciado interno a las celdas */
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 550px; /* Ancho de la columna "Nombre de usuario" */
}
.table th.editar,
.table td.editar {
    width: 150px; /* Ancho fijo para la columna "Opciones" */
    border: none !important;
}

/* Media queries para ajustar estilos en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .añadir_cleinte-form {
        display: block;
    }

    .formularioAjax {
        width: 100%; 
        max-width: none; /* Anular el ancho máximo en dispositivos pequeños */
    }
}

/* Estilos para hacer que la tabla sea responsive */
.table-responsive {
    overflow-x: auto;
    margin-left: 10px; /* Ajustar margen izquierdo */
    margin-right: 10px; /* Ajustar margen derecho */
}

/* Ajustar el tamaño de las columnas en dispositivos pequeños */
@media screen and (max-width: 767px) {
    .table-responsive {
        margin-right: 0;
        overflow-x: auto; /* Permitir desplazamiento horizontal */
        width: 400px !important;
    }

    .filter-container {
        margin-top: 0px;
        width: 200px !important;
        margin-left: 10px;
    }

    .btn-primary {
        margin-top: 10px;
    }

}

/* Ajustar el tamaño de las columnas en dispositivos pequeños */
@media screen and (max-width: 767px) {

    .table-responsive table{
        width: 530px;

    }
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive tr,
    .table-responsive th,
    .table-responsive td {
        display: block;
    }

    .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive tr {
        margin-bottom: 20px;
        border: 1px solid #ccc;
    }

    .table-responsive td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }

    .table-responsive td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table-responsive td:nth-of-type(1):before { content: "Item:"; }
    .table-responsive td:nth-of-type(2):before { content: "Cédula:"; }
    .table-responsive td:nth-of-type(3):before { content: "Nombre de usuario:"; }
    .table-responsive td:nth-of-type(4):before { content: "Contraseña:"; }
    .table-responsive td:nth-of-type(5):before { content: "Teléfono:"; }
    .table-responsive td:nth-of-type(6):before { content: "Email:"; }
    .table-responsive td:nth-of-type(7):before { content: "Permiso:"; }
    .table-responsive td:nth-of-type(8):before { content: "Estado:"; }
    .table-responsive td:nth-of-type(9):before { content: "Opciones:"; }
}

